*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0px auto;
    text-align: center;
}

.container{
    display: inline-block;
    position: relative;
    margin: 10px;
    top: 10px;
} 

.size{
    height: 924px;
    width: 640px;
}

.discount{
    display: inline-block;
    color: white;
    position: absolute;
    left: 0px;
    font-size: 2rem;
    bottom: 5%;
    padding: 5px;
}

.bg-red{
    background-color: red;
    padding: 5px;
}

.bg-green{
    background-color: green;
    padding: 5px;
}

.heart{
    position: absolute;
    background-color: white;
    padding: 30px;
    height: 60px;
    width: 70px;
    top: 3%;
    right: 0%;
}